.cart_ {
    display: flex;
    max-width: 1520px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 2px solid var(--border-color); */
    z-index: 1;
    min-height: 60vh;
}

.cart_section {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0 20px;
    /* border: 2px solid var(--border-color); */
    max-width: 60%;
}

.cart_product {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
    background-color: var(--header-color);
    /* border: 2px solid var(--border-color); */
}

.product_image {
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 40%;
    /* border: 2px solid var(--border-color); */
}

.product_image a img {
    max-width: 50%;
    /* border: 2px solid var(--border-color); */
}

.product_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
    /* border: 2px solid var(--border-color); */
}

.product_info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_info1 h3 {
    font-size: 1.2rem;
}

.product_info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.product_info2 h4 {
    margin-bottom: 100px;
}

form .trash_logo {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--header-color);
}

form .trash_logo:hover {
    background-color: var(--bg-color);
}

/* Summary */

.summary {
    position: fixed;
    left: 60vw;
    flex-direction: column;
    margin-top: 10px;
    padding: 30px;
    width: 28%;
    background-color: var(--header-color);
    border: 2px solid var(--second-color);
}

.summary h2 {
    font-size: 2.4rem;
}

.summary_info {
    margin-top: 40px;
}

.summary_info h4 {
    margin: 10px 0 10px 0;
    font-size: 1.1rem;
}

.summary_info2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.summary_info2 h4 {
    font-weight: 600;
    font-size: 1.5rem;
}

.summary_info2_ h4 {
    font-size: 1.8rem;
    font-weight: 800;
}

.span_price {
    font-weight: 500;
}





.empty_cart {
    height: 60vh;
}


