footer {
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--header-color);
    height: auto;
    width: 100%;
    padding: 40px 80px 40px 80px;
    color: var(--text-color);
    transition: all .50s ease;
}

.footer_content {
    display: fixed;
    flex-direction: column;
    margin-left: 110px;
}

.footer_content h3 {
    font-size: 2rem;
    font-weight: 600;
    opacity: .8;
}

.content {
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 0.9rem;
}

.content a {
    font-size: 1rem;
    margin: 4px 20px 0 0;
    opacity: .7;
}

.footer_content p {
    font-size: 0.8rem;
}

.socials {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}

.footer_bottom {
    margin-top: 20px;
    font-size: 1rem;
}

.footer_bottom p {
    font-size: 0.9rem;
    font-weight: 200;
    opacity: .4;
}

@media (max-width: 1280px) {
    footer {
        padding-top: 20px;
        transition: .2s;
    }
}

@media (max-width: 900px) {
    footer {
        padding-top: 10px;
        transition: .2s;
    }
}
