footer {
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--header-color);
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: var(--text-color);
    transition: all .50s ease;
}

.footer_content {
    display: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
}

.footer_content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer_content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    color: var(--text-color);
}

.socials a i{
    font-size: 0.9rem;
    transition: all .50s ease;
}

.socials a:hover i {
    transform: translateY(-5px);
    color: var(--second-color);
}

.footer_bottom {
    background: rgb(34, 34, 34);
    width: 100%;
    padding: 8px 0;
    text-align: center;
}

.footer_bottom p {
    font-size: 0.8rem;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
    font-weight: 200;
}

.footer_bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: white;
}

@media (max-width: 1280px) {
    footer {
        padding-top: 20px;
        transition: .2s;
    }
}

@media (max-width: 900px) {
    footer {
        padding-top: 10px;
        transition: .2s;
    }
}
