header {
    position: fixed;
    width: 100%;
    top: 18px;
    right: 0;
    z-index: 1000;
    display: flex;
    padding: 0;
    background-color: var(--header-color);
    transition: all .5s ease;
    /* border: 2px solid var(--border-color); */
    height: 70px;
}

.underbar {
    padding-top: 18px;
}

.upheader {
    position: fixed;
    background-color: var(--main-color);
    padding: 2px;
    align-items: center;
    width: 100%;
    z-index: 1001;
    transition: all .50s ease;
}

.upheader a {
    color: var(--white);
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 10%;
    align-items: center;
    justify-content: center;
    /* border: 2px solid var(--help-border); */
}

.logo img {
    padding: 10px;
    align-items: center;
    cursor: pointer;
    max-width: 100px;
    /* border: 2px solid var(--help-border); */
}

.nav__links {
    display: flex;
    width: 80%;
    align-items: center;
    transition: all .50s ease;
    /* border: 2px solid var(--help-border); */
}

.nav__links a {
    padding: 5px 0;
    margin: 0px 30px;
    font-size: 0.9rem;
    transition: all .4s ease;
}

.nav__links a:hover {
    color: var(--text-hover);
}

.nav__links a.active {
    color: var(--main-color);
}

.profile {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid var(--help-border); */
}

.profile a {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

.profile i:hover {
    transition: all .4s ease;
    color: var(--text-hover);
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--text-color);
    font-size: 14px;
}

.cart i {
    color: var(--text-color);
    font-size: 16px;
}

/*------- Scroll ---------*/

.scroll-down header {
    transform: translate3d(0, -100%, 0);
}

/*
.scroll-up header {
    moze sie przyda
}
*/