.container {
    position: relative;
    max-width: 1520px;
    margin: 100px auto 50px auto;
    padding: 50px;
    background-color: var(--header-color);
    z-index: 1;
}

.container h3 {
    margin-top: 20px;
}

.container h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 30px;
}

.container p {
    font-size: .9rem;
    font-weight: 100;
    margin-top: 10px;
    opacity: .6;
}

.bg_fade_blue {
    position: absolute;
    top: 40vh;
    left: 70vw;
    width: 887px;
    height: 887px;
    border-radius: 50%;
    background: var(--second-color);
    opacity: 0.4;
    filter: blur(97px);
}

.bg_fade_pink {
    position: absolute;
    top: -55vh;
    right: 70vw;
    width: 667px;
    height: 667px;
    border-radius: 50%;
    background: var(--main-color);
    opacity: 0.4;
    filter: blur(97px);
}