.product_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1520px;
    margin: auto;
    margin-top: 70px;
    /* border: 2px solid var(--border-color); */
    z-index: 1;
}

.product_image {
    padding: 50px 10px 50px 10px;
    width: 50%;
    background-color: var(--header-color);
    /* border: 2px solid var(--border-color); */
}

.product_image img {
    display: block;
    margin: 30px auto;
    width: 80%;
}

#productInfo {
    position: fixed;
    padding: 50px;
    width: 50%;
    left: 50vw;
}

.product_name p {
    font-size: 2rem;
    font-weight: 600;
}

.product_price {
    font-weight: 300;
}

.product_size {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

.size_button {
    margin: 10px 10px 10px 0;
    font-weight: 200;
}

.size_button:hover {
    font-weight: 600;
}

.size_button.active {
    cursor: pointer;
    font-weight: 600;
}

.product_shipping {
    opacity: .5;
    font-weight: 200;
    font-size: 0.9rem;
    margin: 5px 10px 10px 0;
}

.product_details {
    margin: 30px 10px 10px 0;
}

.product_informations {
    font-weight: 300;
    font-size: 0.83rem;
    margin: 0 10px 30px 0;
}

.size_details {
    margin: 10px 10px 0 0;
}

.size_info {
    margin: 0;
    font-weight: 300;
    font-size: 0.83rem;
    margin: 10px 10px 10px 0;
}

.product_buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.addCart {
    margin-right: 30px;
    background-color: var(--second-color);
    color: var(--bg-color);
    border: 2px solid var(--second-color);
}

input[type="submit"] {
    margin-top: 10px;
    font-size: 16px;
    background-color: var(--second-color);
    color: var(--bg-color);
    padding: 16px;
    border: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    transition: all 250ms;
    border: 2px solid var(--second-color);
}

input[type="submit"]:hover {
    transform: translateY(-2px);
}

.checkout {
    border: 2px solid var(--second-color);
    background-color: var(--background-color);
}


