/*--- SECTION 1 ---*/

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
    width: 80%;
    perspective: 1px;
    /* border: 2px solid var(--border-color); */
}

.section1_left {
    /* border: 2px solid var(--border-color); */
    z-index: 1;
}

.section1_right {
    /* border: 2px solid var(--border-color); */
    z-index: 1;
}

.section1 img {
    width: 620px;
    transform-style: preserve-3d;
    animation: pop-on 1.5s forwards;
    transition: all .2s ease-in-out;
}
@keyframes pop-on {
    0%{
        transform: translateY(100px);
        opacity: 0;
        filter: blur(15px);
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        filter: blur(0);
    }
}

.section1_buttons {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid var(--border-color); */
}

.shop-now {
    background-color: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
}

.find-more {
    border: 2px solid var(--main-color);
    background-color: var(--background-color);
}

.bg_fade_blue {
    position: absolute;
    top: 40vh;
    left: 70vw;
    width: 887px;
    height: 887px;
    border-radius: 50%;
    background: var(--second-color);
    opacity: 0.4;
    filter: blur(97px);
}

.bg_fade_pink {
    position: absolute;
    top: -55vh;
    right: 70vw;
    width: 667px;
    height: 667px;
    border-radius: 50%;
    background: var(--main-color);
    opacity: 0.4;
    filter: blur(97px);
}

/*--- SECTION 2 ---*/

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
    width: 80%;
    /* border: 2px solid var(--border-color); */
}

.section2 img {
    width: 40vw;
    margin: 75px;
    /* border: 2px solid var(--border-color); */
}

.section2_right {
    margin-right: 75px;
    z-index: 1;
    transition: all .5 ease;
    /* border: 2px solid var(--border-color); */
}

.section2_right h3 {
    color: var(--text-color);
}

.bg_fade_blue_2 {
    position: absolute;
    top: 1800px;
    right: 70vw;
    width: 887px;
    height: 887px;
    border-radius: 50%;
    background: var(--second-color);
    opacity: 0.5;
    filter: blur(97px);
}

.bg_fade_pink_2 {
    position: absolute;
    top: 130vh;
    left: 70vw;
    width: 667px;
    height: 667px;
    border-radius: 50%;
    background: var(--main-color);
    opacity: 0.4;
    filter: blur(97px);
}

.reveal {
    transform: translateX(-50px);
    opacity: 0;
    transition: all 2s ease;
    filter: blur(1px);
}

.reveal.active {
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0);
}

/*--- SECTION 3 ---*/

.section3 {
    position: relative;
    width: 100%;
    background-color: var(--bg-white);
    z-index: 1;
}

.section3_image {
    position: absolute;
    max-width: 700px;
    top: -60px;
    left: 63vw;
    filter: blur(6px);
    z-index: 2;
}

.section3_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    /* border: 2px solid var(--border-color); */
}

.section3_container h3 {
    color: var(--bg-second-color);
}

.section3_container h4 {
    color: var(--bg-second-color);
}

.reveal2 {
    transform: translateY(50px);    
    transition: all 1.5s ease;
}

.reveal2.active2 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(3px);
}





.empty_space {
    height: 2000px;
}

